<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Who are we?</h5>

                <p>
                    Is it time to finally start tracking your spending? With this expense tracker not only will you be able to
                    create a budget for every situation you find yourself in, you'll also be able to create financial goals as
                    well!
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Join Today!</h5>
                <a class="btn btn-outline-dark btn-lg" href="register" role="button">Register</a>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <span class="text-muted">Created by 404Found</span>
    </div>
    <!-- Copyright -->
</footer>